.Logo {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translate(-50%, 0);
  width: 63px;
  height: 46px;
  padding: 8px;
  border-radius: 5px;
  background-color: #fff;
}

.Logo img {
  height: 100%;
}